@import '../../../jeet/index';

/*
	Theme Name: Airborne Helium
	Description: The St. Louis Region’s Most Consistent Helium Resource
	Version: 1.4.3
	Author: Blue Stingray
	Author URI: http://www.bluestingray.com
	Tags: Helium

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size:62.5%;
}
body {
  font:300 11px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#444;
}
/* clear */
.clear:before,
.clear:after {
  content:' ';
  display:table;
}

.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}
img {
  max-width:100%;
  vertical-align:bottom;
}
a {
  color:#444;
  text-decoration:none;
}
a:hover {
  color:#444;
}
a:focus {
  outline:0;
}
a:hover,
a:active {
  outline:0;
}
input:focus {
  outline:0;
  border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
  max-width:1280px;
  width:95%;
  margin:0 auto;
  position:relative;
}
/* header */
.header {
  height: 70px;
}
/* logo */
.logo {

}
.logo-img {

}

/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
//  font-family:'Lato-Black';
  src:url('fonts/font-name.eot');
  src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
  url('fonts/font-name.woff') format('woff'),
  url('fonts/Lato-Black.ttf') format('truetype'),
  url('fonts/font-name.svg#font-name') format('svg');
  font-weight:normal;
  font-style:normal;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
   @media only screen and (min-width:768px) {
     #contactSecondary {

   #contactBlock {
     .subBlock01 {
       @include col(1);
     }
     .subBlock02 {
       @include col(1);
     }
   }
 }
}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-webkit-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-moz-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
  margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display:block;
  margin:5px auto 5px auto;
}
.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
a img.alignnone {
  margin:5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.aligncenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.wp-caption {
  background:#FFF;
  border:1px solid #F0F0F0;
  max-width:96%;
  padding:5px 3px 10px;
  text-align:center;
}
.wp-caption.alignnone {
  margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin:5px 20px 20px 0;
}
.wp-caption.alignright {
  margin:5px 0 20px 20px;
}
.wp-caption img {
  border:0 none;
  height:auto;
  margin:0;
  max-width:98.5%;
  padding:0;
  width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
  * {
    background:transparent !important;
    color:#000 !important;
    box-shadow:none !important;
    text-shadow:none !important;
  }
  a,
  a:visited {
    text-decoration:underline;
  }
  a[href]:after {
    content:" (" attr(href) ")";
  }
  abbr[title]:after {
    content:" (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content:"";
  }
  pre,blockquote {
    border:1px solid #999;
    page-break-inside:avoid;
  }
  thead {
    display:table-header-group;
  }
  tr,img {
    page-break-inside:avoid;
  }
  img {
    max-width:100% !important;
  }
  @page {
    margin:0.5cm;
  }
  p,
  h2,
  h3 {
    orphans:3;
    widows:3;
  }
  h2,
  h3 {
    page-break-after:avoid;
  }
}


li {
  text-decoration: none;
  list-style-type: none;
}


/*------------------------------------*\
    SlickNav Menu
\*------------------------------------*/


.slicknav_menu {
  display: none;
  right: 50px;
//  color: #ffffff;
  background: #f4a805;
}

.slicknav_menu a {
  font-size: 20px;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .navWrapper {
    display: none;
  }

  .slicknav_menu, .menu-item-67{
    display: block;
  }
}

.menu-item-67 {
  display: none;
}




/*------------------------------------*\
    Header
\*------------------------------------*/

.brand {
  @include span(1/4);
  position: absolute;
  float: left;
  padding-top: 20px;
  margin-left: 30px;
  @media screen and (max-width: 400px) {
    display: none;
  }
}

#largeLogo {
  @include span(1);
  display:none;
  padding-left: 25px;
  @media screen and (max-width: 400px) {
    display: block;
  }
  @media screen and (max-width: 300px) {
    padding: 0px 10px 0px 0px;
  }
  @media screen and (max-width: 150px) {
    padding: 0px 10px 0px 0px;
  }
}

/* navWrapper */
.navWrapper {
  @include span(3/4);
  margin: 0.67em 0;
  position: absolute;
  top: 0px;
  right: 0px;

  li {
    padding: 0px 15px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    font-size: 18px;
  }

}
/*------------------------------------*\
    Head Banner
\*------------------------------------*/

.banner-default {
  @include span(1);
}

.banner {
  @include span(1);

  .banner-default {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }

  .banner-clear {
    @media only screen and (min-width: 700px) {
      display: none;
    }
    @media only screen and (max-width: 700px) {
      display: block;
    }
  }

  .bannerText {
    @include span(1/3, $offset: 2/3);
    position: absolute;
    padding-right: 235px;
    font-family: 'Lato', sans-serif;
    line-height: 1.1;
    color: #ffffff;
    font-size: 45px;
    @media only screen and (max-width: 1300px) {
      font-size: 40px;
    }
    @media only screen and (max-width: 1200px) {
      padding-right: 235px;
      font-size: 35px;
    }
    @media only screen and (max-width: 1000px) {
      padding-right: 200px;
      font-size: 30px;
    }
    @media only screen and (max-width: 900px) {
      padding-right: 125px;
      font-size: 25px;
    }
    @media only screen and (max-width: 700px) {
      @include span(1);
      font-size: 20px;
      padding-right: 0px;
    }

    h1 {
      text-align: left;
      @media only screen and (max-width: 700px) {
        padding-top: 15px;
        text-align: center;
      }
      @media only screen and (max-width: 500px) {
        margin-top: 10px;
        padding-top: 0px;
      }
      @media only screen and (max-width: 400px) {
        margin-top: 10px;
      }
      @media only screen and (max-width: 300px) {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }
}

/*------------------------------------*\
    Homepage
\*------------------------------------*/

#homeBanner {

}


#homeContent {

  .block01 {
    @include span(7/12);
    min-height: 381px;
    background: #f4f4f4;
    line-height: 1.3;

    @media only screen and (max-width:700px) {
      @include col();
    }
    .summary {
      @include span(11.5/12, $offset: .5/12);

      .summaryTitle{
        @include col(10/12);


        h2 {
          font-family: 'Lato', sans-serif;
          font-size: 35px;
          margin-bottom: 5px;
          @media only screen and (max-width:400px) {
            font-size: 20px;
          }
        }

      }

      .ln {
        @include span(3/4);
        height: 2px;
        background: #f4a805;
      }

      .summaryContent {
        @include span(11/12);

        font-family: 'Open Sans', sans-serif;
        font-size: 14px;

      }
    }
  }

  .block02 {
    @include span(5/12);
    height: inherit;
    background: #f4a805;
    padding-top: 80px;
    padding-bottom: 80px;

    @media only screen and (max-width:700px) {
      @include col(1);
      padding-top: 40px;
      padding-bottom: 40px;
    }

  }

  #serviceWay {
    margin-top: 5px;
    @include span(1);
    @include center();
  }
}

#homeSecondary {
  @include col(1);
  padding-top: 45px;

  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    @media only screen and (max-width:400px) {
      font-size: 20px;
    }
  }

  img {
    @include center();
    margin-top: 20px;
  }

  div {
    @include col(.5, $cycle: 2);
    font-size: 16px;
    line-height: 1.2;
    margin-top: 20px;
    float: left;
    margin-bottom: 30px;
    @media only screen and (max-width:800px) {
      @include col(1);
    }
  }
}

#clientsContent{
  @include span(1);
  background: #f4f4f4;

  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
  }

  img {
    padding: 50px;
    @include span(1/4);
    @media only screen and (max-width:900px) {
      @include span(.5);
    }
    @media only screen and (max-width:400px) {
      @include span(1);
      padding: 40px;
    }
  }
}


/*------------------------------------*\
    About Page
\*------------------------------------*/



#aboutContent {
  @include span(1);

  .block01 {
    @include span(1/3);
    padding: 50px 20px 0px 10px;

    img {
      @include center(1/3);
      padding-top: 20px;
      @media only screen and (max-width:700px) {
        display: none;
      }
    }
  }

  .block02 {
    @include span(2/3 );
    @media only screen and (max-width:700px) {
      @include span(1);
    }

    .summary {
      @include span(1);

        h2 {
          font-family: 'Lato', sans-serif;
          font-size: 35px;
          margin-bottom: 5px;
          @media only screen and (max-width:700px) {
            font-size: 20px;
          }
        }

      .ln {
        @include span(11.5/12);
        height: 2px;
        background: #f4a805;
      }

      .summaryContent {
        @include span(11/12);
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}

#aboutSecondary {
  @include span(1);
  padding-top: 90px;
  font-family: 'Open Sans', sans-serif;
  @media only screen and (max-width:300px) {
    padding-top: 45px;
  }

  .block01 {
    @include span(1);
    float: left;
    background: #f4f4f4;

    .subBlock {
      @include span(23/24, $offset: 1/24);

      li {
        font-size: 18px;
        list-style-type: initial;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
  }

  .block02 {
    @include span(1);
    padding-top: 20px;
    float: left;

    .subBlock {
      @include span(23/24, $offset: 1/24);

      p {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}


/*------------------------------------*\
    Services Page
\*------------------------------------*/

#servicesTitle {
  @media only screen and (max-width:400px) {
    font-size: 22px;
  }
}

#servicesContent {
  @include span(1);
  margin-bottom: 20px;

  .block01 {
    @include span(1/4);
    padding-top: 30px;
    @media only screen and (max-width:800px) {
      @include span(1);
      padding-top: 10px;
    }

    img {
      @include center(1/4);
      padding-top: 30px;
      margin-bottom: 5px;
      @media only screen and (max-width:500px) {
        display: none;
      }
    }
  }

  .block02 {
    @include span(3/4);
    @media only screen and (max-width:800px) {
      @include span(1);
    }
    font-size: 16px;
    line-height: 1.2;

    .summary {
      @include span(1);

      h2 {
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        margin-bottom: 5px;
        @media only screen and (max-width:700px) {
          font-size: 20px;
        }
      }

      .ln {
        @include span(11.5/12);
        height: 2px;
        background: #f4a805;
      }

    }
  }
}

#servicesSecondary {
  @include span(1);
  background: #f4f4f4;

  .block01 {
    @include span(3/4);
    @media only screen and (max-width:700px) {
      @include span(1);
    }
    font-size: 16px;
    line-height: 1.2;

    .summary {
      @include span(11.5/12, $offset: .5/12);

      .ln {
        @include span(1/2);
        height: 2px;
        background: #f4a805;
      }

      h2 {
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        margin-bottom: 5px;
        @media only screen and (max-width:700px) {
          font-size: 20px;
        }
      }

      p, li {
        margin-bottom: 14px;
        list-style-type: initial;
      }
    }
  }

  .block02 {
    @include span(1/4);
    float: right;
    padding: 150px 20px 5px 20px;
    @media only screen and (max-width:800px) {
      @include span(1);
      padding-top: 30px;
    }

    img {
      @include center(1/4);
      @media only screen and (max-width:500px) {
        display: none;
      }
    }
  }

}

#servicesThird {
  @include span(1);
  margin-bottom: 20px;

  .block01 {
    @include span(1/4);
    @media only screen and (max-width:800px) {
      @include span(1);
    }

    img {
      @include center(1/4);
      padding: 100px 20px 5px 20px;
      @media only screen and (max-width:800px) {
        padding: 50px 20px 5px 20px;
      }
      @media only screen and (max-width:500px) {
        display: none;
      }
    }
  }

  .block02 {
    @include span(3/4);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    @media only screen and (max-width:700px) {
      @include span(1);
    }

    .summary {
      @include span(1);



      .ln {
        @include span(2/3);
        height: 2px;
        background: #f4a805;
      }

      h2 {
        font-size: 35px;
        margin-bottom: 5px;
        @media only screen and (max-width:700px) {
          font-size: 20px;
        }
      }

    }
  }
}


/*------------------------------------*\
    Contact Page
\*------------------------------------*/


#contactContent{
  @include span(1);
  margin-bottom: 100px;

  .summary {
    @include span(5/6, $offset:1/6);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;

    h2 {
      font-family: 'Lato', sans-serif;
      font-size: 35px;
      margin-bottom: 5px;
    }

    .ln {
      @include span(11.5/12);
      height: 2px;
      background: #f4a805;
    }
  }
}

#contactSecondary {
  @include span(1);
  color: #ffffff;
  background: #f4a805;

  .block01 {
    @include span(1/2, $offset: 1/4);

    #phoneBlock {
      img {
        @include center();
        margin-top: -100px;
      }

      h2 {
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        text-align: center;
      }

    }

    #contactBlock {
      @include span(1);
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;

      .subBlock01, .subBlock02 {
        @include col(1/2);
        @media only screen and (max-width: 1000px) {
          @include stack();
        }

        span {
          @include span(1);
          text-align: center;
          padding: 10px 0px;
        }

        img {
          @include center(1);
          padding-bottom: 5px;
        }
      }

      .subBlock01 {
        img {
          padding-top: 23px;
        }
      }
    }
  }


  .block02 {
    @include span(1/2, $offset: 1/4);
    color: #fee2a6;
    font-size: 24px;

    h3 {
      color: #ffffff;
      font-size: 30px;
      font-family: 'Lato', sans-serif;
    }

    input {
      width: 100%;
      height: 50px;
      color: #fee2a6;
      background: #d67e00;
      font-style: italic;
      border-style: none;
    }

    .wpcf7-textarea {
      background: #d67e00;
      width: 100%;
      border-style: none;
      color: #fee2a6;
      padding: 0px 15px;
    }

    .wpcf7-textarea:focus {
      outline: none;
    }

    .wpcf7-text {
      padding: 0px 15px;
    }

    #submitEmail {
      @include center();
      background: url("img/contact/btnSubmit.png");
      background-repeat: no-repeat;
      width: 125px;
      color: transparent;
      height: auto;
    }

    .wpcf7-submit {
      margin-bottom: 0px;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
      color:    #fee2a6;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #fee2a6;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #fee2a6;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    #fee2a6;
    }

  }
}


/*------------------------------------*\
    Footer Content
\*------------------------------------*/

footer {
  @include span(1);
  background: #f4a805;

    #facebook {
      @include col(1/12, $offset: 1/3);
      @media only screen and (max-width:400px) {
        @include col(1/4);
      }
    }

    #flickr {
      @include col(1/12);
      @media only screen and (max-width:400px) {
        @include col(1/4);
      }
    }

    #youTube {
      @include col(1/12);
      @media only screen and (max-width:400px) {
        @include col(1/4);
      }
    }

    #twitter {
      @include col(1/12);
      @media only screen and (max-width:400px) {
        @include col(1/4);
      }
    }
}

.page-template-template-contact-php > footer {
  background: #b66b00;
}